<div class="task-card" [class]="taskCardClass" routerLink="/task-details/{{task_id}}">
  <div class="card-details">
    <div class="details">
      @switch (priority) {
        @case ('დაბალი') {
          <div class="priority low">
            <img [src]="priorityIcon" alt="">
            {{priority}}
          </div>
        }
        @case ('საშუალო') {
          <div class="priority medium">
            <img [src]="priorityIcon" alt="">
            {{priority}}
          </div>
        }
        @case ('მაღალი') {
          <div class="priority high">
            <img [src]="priorityIcon" alt="">
            {{priority}}
          </div>
        }
      }
      <div class="department" [style.background-color]="colors[department_id - 1]">
        {{department.length > 12 ? department.slice(0, 12) + '...' : department}}
      </div>
    </div>
    <h4 class="due">{{ due_date | date:'d MMM, y' }}</h4>
  </div>
  <div class="card-description">
    <h4>{{name}}</h4>
    @if(description && description.length) {
      <p>{{ description.length > 100 ? description.slice(0, 100) + '...' : description}}</p>
    }
  </div>
  <div class="card-creator">
    <img class="avatar" [src]="avatar" width="31" height="31" alt="">
    <div class="comments">
      <img ngSrc="/assets/images/icons/comments.svg" alt="" height="23" width="22">
      <h4>{{comments}}</h4>
    </div>
  </div>
</div>
