<section class="task-details-section">
  <div class="container">
    <div class="task-details-items">
      @if (task) {
        <div class="task-details">
          <div class="task">
            <div class="info">
              @switch (task.priority.name) {
                @case ('დაბალი') {
                  <div class="priority low">
                    <img [src]="task.priority.icon" alt="">
                    {{task.priority.name}}
                  </div>
                }
                @case ('საშუალო') {
                  <div class="priority medium">
                    <img [src]="task.priority.icon" alt="">
                    {{task.priority.name}}
                  </div>
                }
                @case ('მაღალი') {
                  <div class="priority high">
                    <img [src]="task.priority.icon" alt="">
                    {{task.priority.name}}
                  </div>
                }
              }
              <div class="department" [style.background-color]="colors[task.department.id - 1]">{{task.department.name}}</div>
            </div>
            <h3>{{task.name}}</h3>
            <p>
              {{task.description}}
            </p>
          </div>
          <div class="details">
            <h4>
              დავალების დეტალები
            </h4>
            <div class="info">
              <div class="info-item">
                <div class="item">
                  <img ngSrc="/assets/images/icons/status.svg" alt="" height="24" width="24">
                  სტატუსი
                </div>
                <div class="select">
                  <p-select
                    panelStyleClass="select-panel"
                    appendTo="body"
                    [(ngModel)]="taskStatus"
                    [options]="statuses"
                    (ngModelChange)="selectValueChanged($event)"
                    optionValue="id"
                    optionLabel="name"
                  />
                </div>
              </div>
              <div class="info-item">
                <div class="item">
                  <img ngSrc="/assets/images/icons/user.svg" alt="" height="24" width="24">
                  თანამშრომელი
                </div>
                <div class="employee-avatar">
                  <img [src]="task.employee.avatar" alt="">
                  <div class="employee-info">
                    <span>{{task.employee.department.name}}</span>
                    {{task.employee.name + ' ' + task.employee.surname}}
                  </div>
                </div>
              </div>
              <div class="info-item">
                <div class="item">
                  <img ngSrc="/assets/images/icons/calendar.svg" alt="" height="24" width="24">
                  დავალების ვადა
                </div>
                <div class="item">
                <span>
                  {{ task.due_date | date:'EEE - MM/d/yyyy'}}
                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comments-wrapper">
          <div class="textarea-wrapper" [class.not-invalid]="notInvalidArea">
            <textarea required pattern=".*\S.*" (ngModelChange)="notInvalidArea = false" [(ngModel)]="comment" placeholder="დაწერე კომენტარი"></textarea>
            <div class="button-wrapper">
              <button class="btn-tertiary" (click)="postComment()">დააკომენტარე</button>
            </div>
          </div>
          @if(comments && !comments.length) {
            <div class="comments">
              <div class="comments-count">
                კომენტარები
                <div class="count">
                   0
                </div>
              </div>
            </div>
          }
          @if (comments && comments.length) {
            <div class="comments">
              <div class="comments-count">
                კომენტარები
                <div class="count">
                  {{all_comments_count}}
                </div>
              </div>
              <div class="comment-wrapper">
                @for (comment of comments; track comment.id; let index = $index) {
                  <div class="comment">
                    <div class="comment-info">
                      <img class="avatar" [src]="comment.author_avatar" alt="">
                      <div class="comment-details">
                        <h4>
                          {{ comment.author_nickname }}
                        </h4>
                        <p>
                          {{ comment.text }}
                        </p>
                        <div class="reply-button" (click)="reply(index)">
                          <img ngSrc="/assets/images/icons/reply.svg" alt="" height="16" width="16">
                          უპასუხე
                        </div>
                        @if(showReplyAreas[index]) {
                          <div class="textarea-wrapper answer">
                            <textarea required pattern=".*\S.*" [(ngModel)]="replyTexts[index]" placeholder="დაწერე კომენტარი"></textarea>
                            <div class="button-wrapper">
                              <button class="btn-tertiary" (click)="postComment(comment.id, index)">დააკომენტარე</button>
                            </div>
                          </div>
                        }
                        @if (comment.sub_comments.length) {
                          @for (sub_comment of comment.sub_comments.slice().reverse(); track sub_comment.id) {
                            <div class="reply">
                              <div class="comment">
                                <div class="comment-info">
                                  <img class="avatar" [src]="sub_comment.author_avatar" alt="">
                                  <div class="comment-details">
                                    <h4>
                                      {{ sub_comment.author_nickname }}
                                    </h4>
                                    <p>
                                      {{ sub_comment.text }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          }
                        }
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>
</section>
