@import "variables";

@font-face {
  font-family: "FiraGO";
  src: url("/assets/fonts/FiraGO-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  font-family: "FiraGO", serif;
}

body {
  background: white;
}

.container {
  max-width: 1580px;
  margin: 0 auto;
}

.btn-primary {
  padding: 10px 20px;
  background: white;
  border: 1px solid $purple;
  font-size: 16px;
  color: $black;
  cursor: pointer;
  border-radius: 5px;
}

.btn-tertiary {
  padding: 8px 48px;
  background: $purple;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary {
  padding: 10px 20px;
  background: $purple;
  color: white;
  font-size: 16px;
  display: flex;
  column-gap: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.task-step {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  border-radius: 10px;
  font-size: 17px;
  color: white;
  &.start {
    background: $start;
  }
  &.progress {
    background: $progress;
  }
  &.testing {
    background: $testing;
  }
  &.finished {
    background: $finished;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid $invalid !important;
}

input.ng-dirty.ng-invalid {
  border: 1px solid $invalid !important;
}

input.ng-valid {
  border: 1px solid $valid !important;
}

.instruction-valid {
  color: $valid !important;
}

.instruction-invalid {
  color: $invalid !important;
}
