@import "variables";

.select-panel {
  background: white !important;
  border: 1px solid $gray3 !important;
  .p-select-option {
    background: white !important;
    color: $black !important;
    padding: 14px;
    font-size: 14px;
    .option {
      display: flex;
      align-items: center;
      column-gap: 7px;
      &.center-none {
        align-items: normal;
      }
      .avatar {
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      .icon {
        img {
          width: 16px;
          height: 18px;
        }
      }
      img {
        object-fit: cover;
      }
    }
    &:hover {
      background: $gray-hover !important;
    }
  }
}


.p-toast-detail {
  color: $black !important;
  padding-left: 10px;
}

.p-toast-message-icon {
  transform: translateY(4px);
  .p-iconwrapper {
    svg {
      width: 30px;
      height: 20px;
    }
  }
}





