@import "variables";

.department-select, .department-select-invalid, .department-select-valid {
  margin-top: -2px;
  background: white !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  .p-select-option {
    background: white !important;
    color: $black !important;
    padding: 14px;
    font-size: 14px;
    &:hover {
      background: $gray-hover !important;
    }
  }
}

.department-select {
  border: 1px solid $gray3 !important;
  border-top: 0 !important;
}

.department-select-invalid {
  border: 1px solid $invalid !important;
  border-top: 0 !important;
}

.department-select-valid {
  border: 1px solid $valid !important;
  border-top: 0 !important;
}

.p-toast-detail {
  color: $black !important;
  padding-left: 10px;
}

.p-toast-message-icon {
  transform: translateY(4px);
  .p-iconwrapper {
    svg {
      width: 30px;
      height: 20px;
    }
  }
}



