$purple: #8338EC;
$black: #212529;
$gray: #DEE2E6;
$start: #F7BC30;
$progress: #FB5607;
$testing: #FF006E;
$finished: #3A86FF;
$low-priority: #08A508;
$high-priority: #FA4D4D;
$medium-priority: #FFBE0B;
$gray2: #343A40;
$gray3: #CED4DA;
$gray4: #6C757D;
$gray-hover: #F8F9FA;
$valid: #08A508;
$invalid: #FA4D4D;
$purple2: #DDD2FF;
$gray5: #FBF9FFA6;
$gray6: #4D596A;
$black2: #0D0F10;
