<div class="tasks-items">
  <div class="tasks">
    <div class="task-step start">დასაწყები</div>
    <app-task-card taskCardClass="start"></app-task-card>
  </div>
  <div class="tasks">
    <div class="task-step progress">პროგრესში</div>
    <app-task-card taskCardClass="progress"></app-task-card>
  </div>
  <div class="tasks">
    <div class="task-step testing">მზად ტესტირებისთვის</div>
    <app-task-card taskCardClass="testing"></app-task-card>
  </div>
  <div class="tasks">
    <div class="task-step finished">დასრულებული</div>
    <app-task-card taskCardClass="finished"></app-task-card>
  </div>
</div>
