<div class="tasks-items">
  @if (statuses) {
    <div class="tasks">
      <div class="task-step start">{{ statuses[0].name }}</div>
      @for (task of startTasks; track task.id) {
        <app-task-card [task_id]="task.id" [department_id]="task.department.id" [avatar]="task.employee.avatar" [priorityIcon]="task.priority.icon" [due_date]="task.due_date" [comments]="task.total_comments"  [name]="task.name" [description]="task.description" [priority]="task.priority.name" [department]="task.department.name" taskCardClass="start"></app-task-card>
      }
    </div>
    <div class="tasks">
      <div class="task-step progress">{{ statuses[1].name }}</div>
      @for (task of progressTasks; track task.id) {
        <app-task-card [task_id]="task.id"  [department_id]="task.department.id"  [avatar]="task.employee.avatar" [priorityIcon]="task.priority.icon" [due_date]="task.due_date" [comments]="task.total_comments"  [name]="task.name" [description]="task.description" [priority]="task.priority.name" [department]="task.department.name"  taskCardClass="progress"></app-task-card>
      }
    </div>
    <div class="tasks">
      <div class="task-step testing">{{ statuses[2].name }}</div>
      @for (task of testingTasks; track task.id) {
        <app-task-card  [task_id]="task.id" [department_id]="task.department.id"  [avatar]="task.employee.avatar" [priorityIcon]="task.priority.icon" [due_date]="task.due_date" [comments]="task.total_comments"  [name]="task.name" [description]="task.description" [priority]="task.priority.name" [department]="task.department.name"  taskCardClass="testing"></app-task-card>
      }
    </div>
    <div class="tasks">
      <div class="task-step finished">{{ statuses[3].name }}</div>
      @for (task of finishedTasks; track task.id) {
        <app-task-card [task_id]="task.id"  [department_id]="task.department.id"  [avatar]="task.employee.avatar" [priorityIcon]="task.priority.icon" [due_date]="task.due_date" [comments]="task.total_comments" [name]="task.name" [description]="task.description" [priority]="task.priority.name" [department]="task.department.name"  taskCardClass="finished"></app-task-card>
      }
    </div>
  }
</div>
